<center><div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><h1><%= @first_name %></h1></div>
  <div class="card-body">
    <h4 class="card-title"><%= @last_name %><br>
    	<%= @age %> <%= 'ans.' %><br>
<%= "Adresse email :" %> <%= @email %><br><br></h4>
    <p class="card-text"><%= "Title :" %> <%= @title %><br>
<%= "Content :" %><%= @content %></p>
  </div>
</div>
<center>
