<center>
  <h1>Deadpool</h1>
  <h4><p>Rien n'est impossible sauf l'impossible !<div class="card mb-3"></h4>
    <table class="table table-hover">
      <thead>
        <center>
          <tr>
            <th scope="col"><h3 class="card-header">daymic</h3></th>
            <th scope="col"><h3 class="card-header">Gitakera</h3></th>
            <th scope="col"><h3 class="card-header">Zozeh</h3></th>
            <th scope="col"><h3 class="card-header">Parany</h3></th>
            <th scope="col"><h3 class="card-header">Herilala</h3></th>
          </tr>
        </thead>
        <tbody>

         <tr class="table-primary">

          <td><%= image_tag('im1.jpg', {:style=>"height: 200px; width: 200px; display: block;"}) %><br><h5 class="card-title">developpeur backend</h5></td>
          <td><%= image_tag('im2.jpg', {:style=>"height: 200px; width: 150px; display: block;"}) %><br><h5 class="card-title">web master</h5></td>
          <td><%= image_tag('im3.jpg', {:style=>"height: 200px; width: 180px; display: block;"}) %><br><h5 class="card-title">web desigeneur</h5></td>
          <td><%= image_tag('im5.jpg', {:style=>"height: 200px; width: 150px; display: block;"}) %><br><h5 class="card-title">integer web</h5></td>
          <td><%= image_tag('im4.jpg', {:style=>"height: 200px; width: 180px; display: block;"}) %><br><h5 class="card-title">developpeur backend</h5></td>
        </tr>
      </center>
    </tbody> 
  </center> 